.text{
    background: transparent;
    border: none;
    width: 100vh;
    border-bottom: solid 2px black;
    height: 60vh;
    
}
.bgx{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vh;
    height: 60vh;
}