body{
    background-color: grey;
}
.inputcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    
}
.inp{
    width: 350px;
    height: 60px;
    border-radius: 4px solid black;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 5px;
}
.btn{
    border-radius: 8px;
    background-color: white;
    border: white;
    padding: 4px 8px;
    width: 80px;
    height: 50px;
    font-weight: bold;
    font-size: large;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
    cursor: pointer;
}
.btn:hover{
    color: gray;
}
.btn1{
    height: 50px;
    width: 80px;
    font-size: large;
    border-radius: 8px;
    background-color: blue;
    color: white;
    border: white;
    padding: 4px 8px;
    cursor: pointer;
}